/* efect shine link blue #2196F3 */
/* general text color black #212121 */
/* second color text gray  #757575 */
/* wight color in text #FFFFFF */

/* general color site background  #FFFFFF */
/* second background color Gray #F5F4FA */
/* dark color sections footer and midle place #2F303A */

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
}
body {
background-color: #fff;
color: var(--primary-text-color);
}
 
.list {
    list-style: none;
}
/* site nav */

/* logo */
.logo-web {
    color: var(--accent-color);
}

.logo-studio {
    color: #000000;
}

.full-logo :focus{
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color) ;
}
.auth-nav {
    color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* main */

.hero{
    background-color: #2F303A;
}
/* .button :hover,
.button :focus{
color: #2196F3
}
.valvue_color_text_button{
    color: #fff;
} */
.hero-title{
    color: #fff;
}

.subscribing-text{
    color: var(--primary-text-color)
}
.section-title{
    color: var(--title-text-color)
}

.our-team {
    background-color:#F5F4FA ;
}

/* footer */
.footer{
    background-color: #2F303A;
}

